SERVER=irc.kernelpanic.com.ar
PORT=6667
SECURE=false
PASSWORD=
LOGIN=Librebot
REAL_NAME=Librebot - https://gitlab.com/jic/librebot
NICK=Librebot
NICKSERV_PASSWORD=
CHANNELS=#debug
REVO_PATH=
RSS_FEED_URLS=https://stallman.org/rss/rss.xml
