hostname=irc.kernelpanic.com.ar
port=6697
ssl=true
password=
login=librebot
real_name=GNU Librebot - https://gitlab.com/jic/librebot
nick=librebot
nickserv_password=
ircop_name=
ircop_password=
ctcp_version=GNU Librebot - https://gitlab.com/jic/librebot
